@import url("https://fonts.googleapis.com/css?family=Karla:400,400i,700|Libre+Baskerville:400,400i,700");

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-family: 'Libre Baskerville', serif;
}

a {
  text-decoration: none;
}

:root {
    --checkedImage: url('https://s3.us-east-2.amazonaws.com/kings-jewelers/medis/kings_checked_box.jpg') left top no-repeat;
    --uncheckedImage: url('https://s3.us-east-2.amazonaws.com/kings-jewelers/medis/kings_unchecked_box.jpg') left top no-repeat;
    --noProductImage: url('https://s3.us-east-2.amazonaws.com/kings-jewelers/medis/gem-placeholder.jpg') center no-repeat;
   }
.grecaptcha-badge{
   visibility: collapse !important;
}
